.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 80px 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.service-heading {
  margin-top: 0;
  text-align: center;
  color: #333;
}

.para {
  margin-bottom: 20px;
  color: #666;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  color: #333;
}

input[type="text"],
input[type="tel"],
input[type="date"],
input[type="time"],
textarea {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

textarea {
  height: 100px;
}

.service-btn {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
  transition: all .25s;
}